-# title: About
%header
  %nav
    %ul
      %li
        %a(href="index.html")Home
  %h1 About

%article
  %section
    %h1 dictav mobile
    iPhone アプリの作成したり、Heroku (http://www.heroku.com/) 上にサービスを展開したりしています。 
  %section
    %h1 Contact me:
    %dl
      %dt mail:
      %dd
        %a(href="" onclick="mailto()")dmobile at mac.com
      %dt twitter:
      %dd
        %a(href="http://twitter.com/dictav")@dictav
