-# title: Amz. Sherlock
-# layout: template.apps.haml
%section
  %h1 What is this?
  Amz. Sherlock is a free and simple way to search Book Covers from Amazon using ISBN.
  Features
  ☆ISBN check digit

%section
  %h1 Download
  %a(href='http://itunes.apple.com/app/dictav/id455231110?mt=8&amp;uo=4' target='itunes_store')
    %img(alt='Amz. Sherlock - dictav' src='http://ax.phobos.apple.com.edgesuite.net/images/web/linkmaker/badge_appstore-lrg.gif' style='border: 0; float:left;')
  
