-# title: iSonic Blast Man
-# layout: template.apps.haml
-# title_image_url: screen_shot.png
%section
  %h1 What is this?
  iSonicBlastMan is a boxing machine.
  When the photograph is set, and iphone is brandished, the photograph is distorted.
%section 
  %h1 ダウンロード
  %a(href='http://itunes.apple.com/app/dictav/id369649501?mt=8&amp;uo=4' target='itunes_store')
    %img(alt='iSonic Blast Man - dictav' src='http://ax.phobos.apple.com.edgesuite.net/images/web/linkmaker/badge_appstore-lrg.gif' style='border: 0; float:left;')
