-# title: 看護師試験
-# layout: template.apps.haml
%section
  %h1 これは何？
  看護師国家試験 [http://www.mhlw.go.jp/general/sikaku/5.html] の対策アプリです。
  厚生労働省で公開されている過去問をクイズ形式で解答することができます。
  【集録】
  ・第１００回看護師国家試験
  ・第９９回看護師国家試験
  ・第９８回看護師国家試験

%section
  %h1 Download
  %a(href='http://itunes.apple.com/app/dictav/id400193060?mt=8&amp;uo=4' target='itunes_store')
    %img(alt='Amz. Sherlock - dictav' src='http://ax.phobos.apple.com.edgesuite.net/images/web/linkmaker/badge_appstore-lrg.gif' style='border: 0; float:left;')
  
