-# title: Kangoshi Shiken
-# layout: template.apps.haml
%section
  %h1 What is this?
  This is a quiz application for the state examination about nursing in Japan.

%section
  %h1 Download
  %a(href='http://itunes.apple.com/app/dictav/id400193060?mt=8&amp;uo=4' target='itunes_store')
    %img(alt='Amz. Sherlock - dictav' src='http://ax.phobos.apple.com.edgesuite.net/images/web/linkmaker/badge_appstore-lrg.gif' style='border: 0; float:left;')
  
