-# title: Twtr (version 2.0.1)
-# layout: template.apps.haml
%section
  %h1 What is this?
  %video(controls='controls' src='twtr.m4v')
  Twtr is Twitter (http://twitter.com/) client.
  It can switch user's timeline and list timelines.
  It supports Multi-Accounts and easily switch between timelines across accounts

%section
  %h1 Download
  %a(href='http://itunes.apple.com/app/dictav/id410274084?mt=8&amp;uo=4' target='itunes_store')
    %img(alt='Twtr - dictav' src='http://ax.phobos.apple.com.edgesuite.net/images/web/linkmaker/badge_appstore-lrg.gif')


%section
  %h1 Notices
  %ul
    %li In Twtr, there is no ability to switch accounts. Please take a precaution that wrong transmission from any accounts.
%section
  %h1 Icon
  %img(src='icon.png')
  The icon represents the Toki (nipponia nippon).




