---
layout: default
title: Dictav Blog
css: blog
---

<a href="{{site.github.url}}/index.html">TOP</a>

<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
<p style="margin-top:1.5em;">
  <h1 style="border-bottom: 1px solid black;"><a href="{{ post.url }}">{{ post.title }}</a></h1>
  <p class="author">
  <span class="date">{{ post.date | date_to_string }}</span>
  </p>
  <div class="content">
    {{ post.content | strip_html | truncate: 300}}...
	{% if post.content | size > 300 %}
	<a href="{{ post.url }}"><strong>more</strong></a>
	{% endif %}
  </div>
  </p>
{% endfor %}



{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
  <a href="archives.html">ARCHIVES</a>
</div>
{% endif %}
